*
{
	padding:    0;
	margin:     0;
	box-sizing: border-box;
}

nav
{
	background-color: red;
}

nav a
{
	line-height:     48px;
	text-decoration: none;
	color:           unset;
}

nav a:hover
{
	background-color: deeppink;
}

main
{
	background-color: green;
	padding:          1em;
}

aside
{
	background-color: blue;
	padding:          1em;
}

footer
{
	background-color: yellow;
	line-height: 48px;
	padding: 0 2em;
}