*
{
	padding:    0;
	margin:     0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Alata', sans-serif;
}

a, p, small, b
{
	font-family: 'Roboto', sans-serif;
}

nav
{
}

nav a
{
	line-height:     48px;
	text-decoration: none;
	color:           unset;
	font-family:     'Alata', sans-serif;
}

nav a:hover
{
	background-color: deeppink;
}

main
{
	padding: 1em;
}

aside
{
	padding: 1em;
}

footer
{
	line-height: 48px;
	padding:     0 2em;
}