$eerie-black: #161925;
$jap-indigo:  #23395b;
$queen-blue:  #406e8e;
$pewter-blue: #8ea8c3;
$aero-blue:   #cbf7ed;

*
{
	padding:    0;
	margin:     0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Alata', sans-serif;
}

a, p, small, b
{
	font-family: 'Roboto', sans-serif;
}

html, head, body
{
	background-color: $eerie-black;
}

.grid-container
{
	background-color: whitesmoke;
}

.responsive-img
{
	width:  100%;
	height: auto;
}

img.banner
{
	width:     100%;
	height:    auto;
	max-width: 40em;
	display:   block;
	margin:    0 auto;
}

nav
{
	background-color: $jap-indigo;
	color:            $aero-blue;
}

nav a
{
	line-height:     48px;
	text-decoration: none;
	color:           unset;
	font-family:     'Alata', sans-serif;
}

nav a:hover
{
	background-color: $queen-blue;
}

aside
{
	padding: 1em;
}

footer
{
	line-height: 48px;
	padding:     0 2em;
}