<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }} | Untitled Record Label</title>
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:500|Tomorrow:300&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="grid-container">
			<nav>
				<a href="#" id="mobile-nav-button">&#9776;</a>
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
				<a href="#">Link 4</a>
				<a href="#">Link 5</a>
			</nav>
			<main>
				{{ content }}
			</main>
			<aside>
				<p>Sidebar text</p>
			</aside>
			<footer>
				<p>&copy; 2019 marteinnsi</p>
			</footer>
		</div>
	</body>
</html>